{% import "macros.htm" as macros %}
<!DOCTYPE html>
<html>
    {% set title = "Statistics" %}
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        {{ macros.shared_style() }}
    </head>
    <body>
        {{ macros.body_header() }}
        <h1>{{ title }}</h1>
        <ul>
            <li>
                Last updated: {{ stats.last_updated }}
            </li>
            {% set cats = (
                ("Known", stats.media.known, stats.media.known_seconds),
                ("Watched", stats.media.watched, stats.media.watched_seconds),
                ("Ignored", stats.media.ignored, stats.media.ignored_seconds),
                ("To Watch", stats.media.to_watch, stats.media.to_watch_seconds),
            ) %}
            {% for c in cats %}
                <li>
                    {{ c[0] }} videos: {{ c[1] }} ({{ c[2] | timedelta }}) (Average: {{ (c[2] / c[1]) | timedelta }})
                </li>
            {% endfor %}
            <li>
                Progress: {{ ((stats.media.watched_seconds / (stats.media.known_seconds - stats.media.ignored_seconds)) * 100) | round(precision=2) }} %
            </li>
        </ul>
        <p>
            <a href="/stats/queries">Query Statistics</a>
        </p>
    </body>
</html>
