{% import "macros.htm" as macros %}
<!DOCTYPE html>
<html>
    {% set title = collection_list | length | string + " Collections known" %}
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        {{ macros.shared_style() }}
    </head>
    <body>
        <h1>{{ title }}</h1>
        <table>
            <tr>
                <th>Date</th>
                <th>Count</th>
                <th>Watched</th>
                <th>Ignored</th>
                <th>To Watch</th>
                <th>Title</th>
            </tr>
            {% for collection in collection_list %}
                {% set stats = collection.stats %}
                <tr>
                    <td>
                        {% if collection.release_date %}
                            {{ collection.release_date.strftime("%d.%m.%Y") }}
                        {% else %}
                            unknown
                        {% endif %}
                    </td>
                    <td>{{ stats.full_count }}</td>
                    <td>{{ stats.watched_count }}</td>
                    <td>{{ stats.ignored_count }}</td>
                    <td>{{ stats.to_watch_count }}</td>
                    <td><a href="{{ collection.info_link }}">{{ collection.title }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
