{% import "macros.htm" as macros %}
<!DOCTYPE html>
<html>
    {% set title = collection.title %}
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        {{ macros.shared_style() }}
    </head>
    <body>
        <a href="/collection">&lt;- back to list</a>
        <h1>{{ title }}</h1>
        <h2>Properties</h2>
        <ul>
            {% set api_uri = "/api/collection/" + collection.id|string %}
            <li>
                Watch In Order:
                {{ collection.watch_in_order | tenary("Yes", "no") }}
                {%- if collection.watch_in_order_auto %} (automatic){% endif %}
                {{ macros.post_form(api_uri, "watch_in_order", collection.watch_in_order | tenary("false", "true"), "umschalten") }}
            </li>
            <li>
                Keep Updated:
                {{ collection.keep_updated | tenary("Yes", "no") }}
                {{ macros.post_form(api_uri, "keep_updated", collection.watch_in_order | tenary("false", "true"), "umschalten") }}
            </li>
            {% if collection.watch_in_order %}
                <li>
                    Next Episode:
                    {% set link = collection.next_episode %}
                    {% if link %}
                        {{ macros.link_entry_content(link) }}
                    {% else %}
                        no next episode
                    {% endif %}
                </li>
            {% endif %}
        </ul>
        <h2>Notes</h2>
        <pre>{{ collection.notes or "" }}</pre>
        <h2>Episodes</h2>
        <ul>
            {% for link in media_links %}
                {{ macros.link_entry(link) }}
            {% endfor %}
        </ul>
        <h2>Links</h2>
        <ul>
            {% for link in collection.uris %}
                <li>{{ link.uri | as_link }} {% if collection.uri == link.uri %}*{% endif %}</li>
            {% endfor %}
        </ul>
    </body>
</html>
