{% import "macros.htm" as macros %}
<!DOCTYPE html>
<html>
    {% set title = "Extract Collection" %}
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        {{ macros.shared_style() }}
    </head>
    <body>
        {{ macros.body_header() }}
        <h1>{{ title }}</h1>
        <p>
            <h2>Single Collection</h2>
            <form method="post" action="/api/collection/extract">
                {{ macros.hidden_redirect_back() }}
                <input type="text" name="uri" style="width: 40em;" />
                <button type="submit" name="redirect_to_object" value="true">
                    extract
                </button>
                <button type="submit" name="redirect_to_object" value="false">
                    extract & more
                </button>
            </form>
        </p>
        <p>
            <h2>Multiple Collections</h2>
            <form method="post" action="/api/collection/extract/mass">
                <textarea name="uris" cols="160" rows="8" placeholder="Enter one uri per line"></textarea>
                <button type="submit" name="redirect_to_overview" value="true">
                    extract list
                </button>
            </form>
        </p>
    </body>
</html>
