{% import "macros.htm" as macros %}
<!DOCTYPE html>
<html>
    {% set title = collection.title %}
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        {{ macros.shared_style() }}
    </head>
    <body>
        {{ macros.body_header() }}
        <h1>{{ title }}</h1>
        <h2>Properties</h2>
        <ul>
            {% set api_uri = "/api/collection/" + collection.id|string %}
            <li>
                {{ macros.post_form(api_uri, "mark_unmarked_as", "watched", "mark left as watched") }}
                {{ macros.post_form(api_uri, "mark_unmarked_as", "ignored", "mark left as ignored") }}
                {{ macros.post_form(api_uri, "reset_marks", "True", "reset marks") }}
                {{ macros.post_form(api_uri, "reset_ignored_marks", "True", "reset ignored") }}
                {{ macros.no_input_post_form("/api/refresh/collection/" + collection.id|string, "refresh") }}
            </li>
            <li>
                Pinned:
                {{ collection.pinned | tenary("Yes", "no") }}
                {{ macros.post_form(api_uri, "pinned", collection.pinned | tenary("false", "true"), "toggle") }}
            </li>
            <li>
                Watch In Order:
                {{ collection.watch_in_order | tenary("Yes", "no") }}
                {%- if collection.watch_in_order_auto %} (automatic){% endif %}
                {{ macros.post_form(api_uri, "watch_in_order", collection.watch_in_order | tenary("false", "true"), "umschalten") }}
            </li>
            <li>
                Keep Updated:
                {{ collection.keep_updated | tenary("Yes", "no") }}
                {{ macros.post_form(api_uri, "keep_updated", collection.keep_updated | tenary("false", "true"), "umschalten") }}
            </li>
            {% set stats = collection.stats %}
            <li>
                Length:
                {{ stats.full_seconds | timedelta }}
            </li>
            <li>
                To Watch:
                {{ stats.to_watch_seconds | timedelta }}
            </li>
            {% if collection.all_tags %}
                <li>
                    Tags: {{ collection.all_tags | map(attribute="title") | sort | join(" | ") }}
                </li>
            {% endif %}
            {% if collection.watch_in_order %}
                <li>
                    Next Episode:
                    {% set link = collection.next_episode %}
                    {% if link %}
                        {{ macros.link_entry_content(link) }}
                    {% else %}
                        no next episode
                    {% endif %}
                </li>
            {% endif %}
        </ul>
        <h2>Notes</h2>
        <pre>{{ collection.notes or "" }}</pre>
        <h2>Links</h2>
        <ul>
            {% for link in collection.uris|sort(attribute="uri") %}
                <li>{{ link.uri | as_link }} {% if collection.uri == link.uri %}*{% endif %}</li>
            {% endfor %}
        </ul>
        {% if not media_links %}
            <p>
                <a href="{{ collection.info_link }}/episodes">List episodes</a>
            </p>
        {% else %}
            <h2>Episodes</h2>
            <ul>
                {% for link in media_links %}
                    {{ macros.link_entry(link) }}
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
