{% import "macros.htm" as macros %}
<!DOCTYPE html>
<html>
    {% set title = "Dashboard" %}
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        {{ macros.shared_style() }}
    </head>
    <body>
        {{ macros.body_header() }}
        <h1>{{ title }}</h1>
        {% if began_videos %}
            <h2>Began Videos</h2>
            {{ macros.media_thumbnail_list(
                elements=began_videos,
            ) }}
        {% endif %}
        <h2>From Pinned Collections</h2>
        {% if links_from_pinned_collections %}
            {{ macros.media_thumbnail_list(
                links=links_from_pinned_collections,
                link_collection=True,
            ) }}
        {% else %}
            <i>No pinned collections with episodes to watch found. <a href="/collection/pinned">See pinned collections</a></i>
        {% endif %}
        <a href="/collection/pinned"></a>
        <h2>Latest Videos</h2>
        {{ macros.media_thumbnail_list(
            elements=media_list,
        ) }}
    </body>
</html>
