{% import "macros.htm" as macros %}
<!DOCTYPE html>
<html>
    {% set title = element.title %}
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        {{ macros.shared_style() }}
    </head>
    <body>
        {{ macros.body_header() }}
        <h1>{{ title }}</h1>
        <div class="element_view">
            <div class="element_info">
                {% if element.description != None %}
                    <div class="description">{{ element.description }}</div>
                {% endif %}
                <h2>Notes</h2>
                <pre>{{ element.notes or "" }}</pre>
                <h2>Properties</h2>
                <ul>
                    <li>
                        {{ macros.media_element_buttons(element) }}
                        {{ macros.no_input_post_form("/api/refresh/media/" + element.id|string, "refresh") }}
                    </li>
                    <li>Can be considered: {{ element.can_considered | tenary("Yes", "no") }}</li>
                    <li>
                        Date:
                        {{ element.release_date }}
                    </li>
                    <li>
                        Length:
                        {{ element.length | timedelta }}
                        {%- if element.progress > 0 -%}
                            , Progress:
                            {{ element.progress | timedelta }}
                        {% endif %}
                    </li>
                    {% if element.all_tags %}
                        <li>
                            Tags: {{ element.all_tags | map(attribute="title") | join(" | ") }}
                        </li>
                    {% endif %}
                </ul>
                <h2>Part of Collections</h2>
                <ul>
                    {% for link in element.collection_links %}
                        <li>
                            <a href="{{ link.collection.info_link }}">{{ link.collection.title }}</a>
                            {%- if link.season != 0 -%}
                            , Season {{ link.season }}
                            {% endif %}
                            {%- if link.episode != 0 -%}
                            , Episode {{ link.episode }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <h2>Links</h2>
                <ul>
                    {% for link in element.uris|sort(attribute="uri") %}
                        <li>{{ link.uri | as_link }} {% if element.uri == link.uri %}*{% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
