{% import "macros.htm" as macros %}
<!DOCTYPE html>
<html>
    {% set title = tag_list | length | string + " Tags known" %}
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        {{ macros.shared_style() }}
    </head>
    <body>
        {{ macros.body_header() }}
        <h1>{{ title }}</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Use for Pref.</th>
                <th>Super Tags</th>
                <th>Sub Tags</th>
            </tr>
            {% macro format_tag(tag) %}
                <a title="{{ tag.title }}">{{ tag.id }}</a>
            {% endmacro %}
            {% macro format_tag_list(tag_list) %}
                {% for tag in tag_list|sort(attribute="id") %}
                    {{ format_tag(tag) }}
                    {{ " | " if not loop.last }}
                {% endfor %}
            {% endmacro %}
            {% for tag in tag_list %}
                <tr>
                    <td>
                        {{ tag.id }}
                    </td>
                    <td>
                        {{ tag.title }}
                    </td>
                    <td>
                        {{ tag.use_for_preferences | tenary("Yes", "no") }}
                    </td>
                    <td>
                        {{ format_tag_list(tag.super_tag_list) }}
                    </td>
                    <td>
                        {{ format_tag_list(tag.sub_tag_list) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
