#Flask[async]>=2.0.1
git+https://github.com/Zocker1999NET/flask@config-prefixed-env#egg=Flask
pony>=0.7.14
pyyaml>=5.4.1
rss-parser>=0.2.3
yt-dlp>=2022.6.29
git+https://git.banananet.work/zocker/python-jsoncache#egg=jsoncache
git+https://github.com/Zocker1999NET/youtube-search-python@my-version#egg=youtube-search-python

# custom, local requirements; TODO remove or change to persistent dependency
/home/zocker/Repositories/tinytinypy
